.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CARD */
.auth-card {
  width: 350px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(12px);
  text-align: center;
}

/* INPUT */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* BUTTON */
.auth-card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg,#ff6600,#ff3300);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}